*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
.venv
generated_cv*
resume.html
.vscode
chrome_profile
venv
data_folder/secrets.yaml
debug_html/
log.txt
tailored_resumes/